@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap');

* {
  box-sizing:border-box;
}

.root{
  display:flex;
  flex-direction:column;
}

body{
  background-color: #22254b;
  color:white;
  font-family:"Poppins", sans-serif;
  margin:0;
}
/* Header bar with Title and search bar */
@media only screen and (max-height: 400px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
  }
  .headerRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .search{
    font-size: 1rem;
    width: 10rem;
  }
  .main-section{
    display: flex;
    flex-direction: column;
  }
  .list-container{
    flex-direction: row;
  }
}
.header {
  background-color: #373b69;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 1rem;
}
.headerRight{
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
.headerRight button{
  background-color: rgb(242, 244, 247);
  font-weight: bold;
  font-size: 0.8rem;
  width:5rem;
  margin-right: 1rem;
  border-style: none;
  border-radius: 20px;
  outline:none;
}
.search{
  border:2px solid #22254b;
  background-color: #373b69;
  color:aliceblue;
  border-radius:50px;
  font-family: inherit;
  font-size:1rem;
  padding:0rem 1.5rem;
  width:30vh;
}

.search:focus{
  outline:0;
}
/*************************************/
/* Section */
.main-section{
  display: flex;
  flex-direction: column;
}

/* Sidebar Component */
.list-container{
  margin:1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 33.5vh;
 }
 .listheader{
   display: flex;
   justify-content: center;
 }
 .list-container button{
  background-color: rgb(75, 218, 32);
  font-weight: bold;
  font-size: 1rem;
  width:2rem;
  border-style: none;
  border-radius: 20px;
  outline:none;
}
.list-container button:hover{
  background-color: rgb(241, 175, 52);
}
.list-container input{
  font-size: 1rem;
  border-radius: 20px;
  background-color:#f0f1f8;
  width:15vh;
  color: rgb(8, 8, 8);
  border-bottom: 2px white;
}
.list-container input:focus{
  outline:none;
}
.addPlaylist{
  display: flex;
}
.listNote{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* SideBar Item Component*/
.list{
  border: 1px solid rgb(250, 247, 247);
  border-radius: 20px;
  margin:2px 2px;
  background-color: aliceblue;
  color:#22254b;
}
/* .list:hover{
  background-color: #22254b;
  color:aliceblue;
} */

.list h1{
  font-size: 1.2rem;
  margin : 0.5rem 0.1rem 0.7rem 0.5rem;
}
.list input{
  font-size: 1rem;
  margin : 0.5rem 0.1rem 1.1rem 0.5rem;
  width:8rem;
  border:none;
}

.buttons{
  display: flex;
  align-items: center;
}
.list button{
  background-color: rgb(250, 250, 250);
  margin:0.5rem 0.5rem;
  font-weight: bold;
  width:auto;
  font-size: 0.9rem;
  height: 2rem;
  border-style: none;
  border-radius: 80%;
  outline:none;
}
.list button:hover{
  background-color: goldenrod;
}
/*************************************/
/* Movie Component*/
.movie-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
/*************************************/

/* Inside Movie component*/
.movie{
  background-color:#373b69;
  margin:0.5rem;
  width:40vh;
  box-shadow:3px 3px 5px rgba(0,0,0,0.9);
  border-radius: 5px;
  overflow:hidden;
  position: relative;
}
/* Movie Image */
.movie img{
  object-fit: cover;
  height: 50vh;
  width:100%;
}

/* Movie Info */
.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3{
  margin:0;
}
/* Movie Overview */
.movie-overview{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  background-color: white;
  color:#373b69;
  padding:1rem;
  min-height:100%;
  max-height:100%;
  overflow:auto;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie:hover .movie-overview{
  transform: translateY(0%);
}

/* .section_2{
  
} */
.section_1 p{
  font-size: 0.8rem;
}
.section_2{
  display: flex;
  justify-content:center;
  align-items: center;
}
.section_2 button{
  color:rgb(231, 194, 73);
  font-weight: bold;
  font-size: 0.8rem;
  padding:0.7rem;
  border-style: none;
  outline:none;
  background-color: #03233d;
  border-radius: 20px;
}

/* Movie Info Color */
.tag{
  background-color: #22254b;
  color:white;
  border-radius: 5px;
  font-weight:bold;
  padding:0.5rem;
}

.tag.green{
  color:green;
}
.tag.orange{
  color:orange;
}
.tag.red{
  color:red;
}

/*************************************/


